body {
    font-family: Roboto;
}

textarea {
  box-sizing: border-box;
}

#containerUserInput {
    margin: auto;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 1rem;
    width: fit-content;
    padding: 0.6rem;
}

#userInput {
    font-family: Roboto;
    font-size: 1rem;
    color: white; 
    border: none;
    outline: none;
    width: 18rem;
    background-color: black;
}

#userInput::placeholder {
    color: rgb(185, 185, 185);
    font-family: Roboto;
}


#characterCount {
    display: flex;
    justify-content: end;
}